<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tetris Game</title>
	<link rel="stylesheet" type="text/css" href="../css/tetris.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="../js/tetris.js"></script>
</head>
<body>
	<div id='wrapper'>
	<div id="leftHand">
		<div id="holdPiece"></div>
		<div id="score"></div>
	</div>
	
	<div id="gameBoard">
	</div>
	<div id="nextPiece">
		
		<div class='row'>
			<div class='openSpace'></div>
			<div class='openSpace'></div>
			<div class='openSpace'></div>
			<div class='openSpace'></div>
		</div>
		<div class='row'>
			<div class='openSpace'></div>
			<div class='openSpace'></div>
			<div class='openSpace'></div>
			<div class='openSpace'></div>
		</div>
	</div>
	

	</div> <!--end of wrapper -->
</body>
</html>